<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">

<!--

2 Column CSS Layout ( Fluid / Fixed )
Last Modified: 01-11-07

-->

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="keywords, here, seperated, by, commas"/>
    <meta name="description" content="Brief description of web page."/>
    <link rel="shortcut icon" href="/images/cubes_blue.ico"/>

    <title>Data di nascita - Birthdays of your friends</title>

    <!-- link to external style sheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    {% block jquery %}
    {% endblock %}
    {% block search %}
    {% endblock %}


</head>

<body>

<div id="top_section">
    <p>
        <a href="/">Data di nascita</a> - Birthdays of your friends
    </p>
</div>
<!-- end top section -->

<div id="middle_section">

    <div id="header">

        <div id="header_left">
            <h1><a href="/">Data di nascita</a></h1>

            <h2>Birthdays of your friends</h2>
        </div>

        <div id="header_right"></div>

        <div class="spacer"></div>

    </div>

    <div id="menu_bar">

        <div id="navcontainer">
            <ul id="navlist">
                <li><a href="/add">New</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/import">Import</a></li>
            </ul>
        </div>

    </div>

    <div id="content_wrapper">
        <div id="content_column">
            <div class="column_padding">

                {% block formadd %}
                {% endblock %}

                {% block list %}
                {% endblock %}

                {% block formimport %}
                {% endblock %}

                {% block links %}
                {% endblock %}

                {% block searchcontrol %}
                {% endblock %}

                {% block upload_phorm %}
                {% endblock %}


            </div>
        </div>
    </div>

    <div id="left_column">
        <div class="column_padding">
            <a href="{{ auth_url }}">Log in as another user</a>
        </div>
    </div>


    <div id="right_column">
        <div class="column_padding">

        </div>

    </div>

    <div id="footer">
        <p>
            Copyright &copy;2010 <a href="#">GluckSoft</a>, All Rights Reserved.<br/>
            Template courtesy of <a title="Designs By Darren - Free CSS Web Design Template"
                                    href="http://www.designsbydarren.com">Designs By Darren</a>.
        </p>
    </div>

</div> <!-- end middle section -->

<div id="bottom_section">
    <p>
        <a href="http://validator.w3.org/check?uri=referer"
           title="Valid XHTML 1.0 Transitional"
           target="new"><img class="w3c"
                             src="http://www.w3.org/Icons/valid-xhtml10"
                             alt="Valid XHTML 1.0 Transitional"/></a>

        <a href="http://jigsaw.w3.org/css-validator/check/referer"
           title="Valid CSS!"
           target="new"><img class="w3c"
                             src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                             alt="Valid CSS!"/></a>
    </p>
</div>
<!-- end bottom section -->

</body>
</html>
