{% extends 'base.html' %}
{% block list %}
    {% ifnotequal count 0 %}
        <table width="100%">
            <tr>
                <th>Name</th>
                <th>Birthday</th>
                <th>Age</th>
                <th>Next BD</th>
            </tr>
            {% for person in people %}
                <tr>
                    <td>
                        <h4>
                            {{ person.name }}
                        </h4>
                    </td>
                    <td>
                        {{ person.birthday|date:"D, jS F Y" }}
                    </td>
                    <td>
                        {{ person.age }}
                    </td>
                    <td>
                        {{ person.next_bd }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endifnotequal %}
{% endblock %}
{% block links %}
    <a href="/add">New Person</a>
{% endblock %}